.door {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#callout-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  padding: 20px;
  background-color: rgb(157, 157, 157);
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 100vh;
  overflow: auto; /* In case your content exceeds the viewport height */
}

#callout-box-2 {
  position: absolute; /* This will make the box float */
  top: 877px; /* Adjust these values for your specific X-Y position */
  left: 500px; /* Adjust these values for your specific X-Y position */
  width: 250px; /* Adjust this value for your preferred width */
  padding: 20px; /* Adjust this value for your preferred padding */
  background-color: rgb(
    138,
    216,
    164
  ); /* This will set the background to light yellow */
  border: 1px solid black; /* Optional: This will set the border to black */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: This will set a shadow around the box */
  z-index: 100; /* This ensures the box floats on top of other elements */
}

#callout-box-3 {
  position: absolute; /* This will make the box float */
  top: 877px; /* Adjust these values for your specific X-Y position */
  left: 825px; /* Adjust these values for your specific X-Y position */
  width: 250px; /* Adjust this value for your preferred width */
  padding: 20px; /* Adjust this value for your preferred padding */
  background-color: rgb(
    138,
    216,
    164
  ); /* This will set the background to light yellow */
  border: 1px solid black; /* Optional: This will set the border to black */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: This will set a shadow around the box */
  z-index: 100; /* This ensures the box floats on top of other elements */
}

#callout-box-4 {
  position: absolute; /* This will make the box float */
  top: 877px; /* Adjust these values for your specific X-Y position */
  left: 1150px; /* Adjust these values for your specific X-Y position */
  width: 250px; /* Adjust this value for your preferred width */
  padding: 20px; /* Adjust this value for your preferred padding */
  background-color: rgb(
    138,
    216,
    164
  ); /* This will set the background to light yellow */
  border: 1px solid black; /* Optional: This will set the border to black */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: This will set a shadow around the box */
  z-index: 100; /* This ensures the box floats on top of other elements */
}

#callout-box-6 {
  position: absolute; /* This will make the box float */
  top: 877px; /* Adjust these values for your specific X-Y position */
  left: 1475px; /* Adjust these values for your specific X-Y position */
  width: 250px; /* Adjust this value for your preferred width */
  padding: 20px; /* Adjust this value for your preferred padding */
  background-color: rgb(
    138,
    216,
    164
  ); /* This will set the background to light yellow */
  border: 1px solid black; /* Optional: This will set the border to black */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: This will set a shadow around the box */
  z-index: 100; /* This ensures the box floats on top of other elements */
}

#callout-box-7 {
  position: absolute; /* This will make the box float */
  top: 151px; /* Adjust these values for your specific X-Y position */
  left: 472px; /* Adjust these values for your specific X-Y position */
  width: 1375px; /* Adjust this value for your preferred width */
  padding: 20px; /* Adjust this value for your preferred padding */
  background-color: rgb(255, 255, 255); /* This will set the background to light yellow */
  border: 1px solid black; /* Optional: This will set the border to black */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: This will set a shadow around the box */
  z-index: 100; /* This ensures the box floats on top of other elements */
}

.dataCallout {
  font-size: 36px;
}

body {
  padding-top: 20px; /* Adjust this value to match the height of your status-message-container */
}

#map-container {
  position: relative; /* Keeps the map in the normal flow, just below the status-message-container */
  display: block; /* Changed from inline-block to block to ensure it takes up a full line */
  width: 1920px; /* Sets the width */
  margin-top: 91px; /* Adds space equal to the height of your status-message-container */
  height: auto; /* Adjust this value based on your requirements */
}

#map-container img {
  width: 100%; /* Ensures the image fills its container */
  height: auto; /* Keeps aspect ratio of the image */
}

#variables-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

#variables-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#variables-container th, #variables-container td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: calc(100% / 7); /* divide 100% by the number of columns */
  white-space: normal;
  word-wrap: break-word; 
}

#variables-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.half-door {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
  border-radius: 30px 0 0 30px;
}

.half-door:last-child {
  border-radius: 0 30px 30px 0;
}

#logContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fill the height of the screen */
  justify-content: space-between;
  overflow: hidden; /* Hide cards that slide out of view */
  transition: transform 0.5s ease-out;
}

.logCard {
  margin: 0px 0; /* Adjust as needed */
  width: 90%; /* Set the width of the card */
  padding: 8px; /* Set the padding inside the card */
  margin-bottom: 10px; /* Add some space below each card */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add some shadow to make the card look 3D */
  transition: 0.3s; /* Add animation when hovering over the card */
  border-radius: 5px; /* Round the corners of the card */
  background-color: #fff; /* Set the background color of the card */
}

.half-door {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
  border-radius: 30px 0 0 30px;
}

.half-door:last-child {
  border-radius: 0 30px 30px 0;
}

.open-door {
  background-color: green;
}

.closed-door {
  background-color: red;
}

.clock {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3.2em;
  color: #000;
}
